<div class="wrapper" id='loginPage'>
	<div class="container">
    <div class='col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6'>
  		<h1><img src="" alt="Liga AC Logistics"></h1>
  		<form class="form-horizontal">
        <div class="form-group">
  			  <input type="text" class="form-control" placeholder="Username">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
          <input type="submit" value='Login'  class="form-control" ></input>
        </div>
  		</form>
    </div>
	</div>
</div>
