<div class='sort'>
  <form>
    <div class="form-group">
      <label>Sort</label>
      <select class="form-control"></select>
      <select class="form-control"></select>
    </div>
    <label>Location</label>
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="option1">
          Location 1
        </label>
      </div>
    </div>
    <label>Categories</label>
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="option1">
          Category 1
        </label>
      </div>
    </div>
  </form>
</div>
