<div class='sort'>
  <form>
    <div class="form-group">
      <label>Sort</label>
      <select class="form-control"></select>
      <select class="form-control"></select>
    </div>
    <label>Location<input ng-model="searchLocation"></label>
    <div class="form-group">
      <div class="checkbox" ng-repeat='location in locations | filter:searchLocation'>
        <label>
          <input type="checkbox" value="{{location.entityId}}">
          {{location.Name}}
        </label>
      </div>
    </div>
    <label>Categories<input ng-model='searchCategories'></label>
    <div class="form-group">
      <div class="checkbox" ng-repeat='category in categories | filter:searchCategories'>
        <label>
          <input type="checkbox" value="option1">
          {{category.Name}}
        </label>
      </div>
    </div>
  </form>
</div>
