<div class='sort'>
  <form>
    <div class="form-group">
      <label>Sort</label>
      <select class="form-control"></select>
      <select class="form-control"></select>
    </div>
    <label>Location</label>
    <div class="form-group">
      <div class="checkbox" ng-repeat='location in locations'>
        <label>
          <input type="checkbox" value="option1">
          {{location.Name}}
        </label>
      </div>
    </div>
    <label>Categories</label>
    <div class="form-group">
      <div class="checkbox" ng-repeat='category in categories'>
        <label>
          <input type="checkbox" value="option1">
          {{category.Name}}
        </label>
      </div>
    </div>
  </form>
</div>
