

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-{{panelType}}" ng-repeat="item in items">

    <div class="panel-heading" role="tab" id="heading{{item.EntityId}}">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" href="javascript:;" data-parent="#accordion" data-target="#{{item.EntityId}}" aria-expanded="false" aria-controls="{{item.EntityId}}">
          {{item.Name}}
        </a>
      </h4>
    </div>

    <div id="{{item.EntityId}}" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="heading{{item.EntityId}}">

      <div class="thumbnail">
          <div class="caption" style="width: 50%;">
<!--             <h3>{{item.Name}}</h3> -->

            <div class="panel-body">
              <img src="https://api.qrserver.com/v1/create-qr-code/?data={{item.EntityId}}&size=100x220&margin=0" alt="..." id="img_product" style="width: 100px; margin-bottom: 5%">
              <h4>Description<h6>{{item.Description}}</h6></h4>
              <h4>Quantity</h6>{{item.Quantity}}</h6></h4>
              <h4>Pret</h6>{{item.Price}}</h6></h4>
              <h4>Location</h6>{{item.LocationId}}</h6></h4>
              <h4>MinQuantity</h6>{{item.MinQuantity}}</h6></h4>
              <h4>Relevance</h6>{{item.Relevance}}</h6></h4>
              <form ng-submit='addStock(stock)'>
                <input type='text' class='form-control' ng-model='stock' id="add-input"></input>
                <input type='submit' class='form-control' id="add" placeholder="Add Quantity"></input>
              </form>
            </div>
          </div>
                 <div style="max-width: 300px; float: right; margin: 0% 10% 0% 0%;">
          <img src='{{item.Picture}}' alt="..." id="img_product">

          <!-- <img src="https://api.qrserver.com/v1/create-qr-code/?data={{item.EntityId}}&size=100x220&margin=0" alt="..." id="img_product"> -->

</div>
                 <div>
        </div>
      </div>
    </div>

  </div>
</div>
