<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-{{panelType}}" ng-repeat="item in items">
    <div class="panel-heading" role="tab" id="heading{{item.EntityId}}">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" href="javascript:;" data-parent="#accordion" data-target="#{{item.EntityId}}" aria-expanded="false" aria-controls="{{item.EntityId}}">
          {{item.Name}}
        </a>
      </h4>
    </div>
    <div id="{{item.EntityId}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{item.EntityId}}">
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>
