<nav class="navbar navbar-default">
  <div class="container">

    <div class="navbar-header col-md-2">
      <a class="navbar-brand" href="#">
        <span>Logo</span>
      </a>
    </div>

    <div class="nav navbar-nav col-md-8">
      <div >
        <form class='navbar-form'>
          <div class='col-md-2 col-sm-2 col-xs-3' style='padding: 0px;'>
            <button type="button" class="btn btn-default dropdown-toggle pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Scan <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">QR</a></li>
              <li><a href="#">Bar code</a></li>
            </ul>
          </div>
          <div class='col-md-8 col-sm-8 col-xs-9' style='padding: 0px;'>
            <input type="text" class="form-control" placeholder="Search" style='width: 100%'>
          </div>
        </form>
      </div>
    </div> 

    <div class='nav navbar-nav navbar-right col-md-2'>
        <a href="#" class="btn btn-default pull-right">Sign in</a>
    </div>

  </div>
</nav>