<nav class="navbar navbar-default">
  <div class="container">

    <div class="navbar-header col-md-2">
      <a class="navbar-brand" href="#">
        <span>Logo</span>
      </a>

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#search-form" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse col-xs-12 col-md-10" id="search-form">
      <ul class="nav navbar-nav">
        <li>
          <form>
          <div class='col-xs-3'>
            <button type="button" class="btn btn-default dropdown-toggle pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Scan <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">QR</a></li>
              <li><a href="#">Bar code</a></li>
            </ul>
          </div>

          <div class='col-xs-9'>
            <input type="text" class="form-control" placeholder="Search" style='width: 100%'>
          </div>
          </form>
        </li>
        <li><a href="#" class="btn btn-default col-xs-12">Items</a></li>
        <li><a href="#" class="btn btn-default col-xs-12">Warnings</a></li>
        <li><a href="#" class="btn btn-default col-xs-12">Sign out</a></li>
      </ul> 
    </div>
    <!-- End toggling -->

  </div>
</nav>