<!-- <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header col-md-2">
      <a class="navbar-brand" href="#">
        <span>Logo</span>
      </a>

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#search-form" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>


    <div class="collapse navbar-collapse col-xs-12 col-md-10" id="search-form">
      <ul class="nav navbar-nav">
        <li>
          <form>
          <div class='col-xs-3'>

            <div class="btn-group open">
              <a aria-expanded="true" href="javascript:;" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Dropdown
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="">QR</a></li>
                <li><a href="">Bar code</a></li>
               </ul>
            </div>
          </div>
          <div class='col-xs-9'>
            <input type="text" class="form-control" ng-model="searchText" ng-change="searchContent(searchText)" placeholder="Search" style='width: 100%'>
          </div>
          </form>
        </li>

      </ul>



  </div>
</nav>
  -->
<nav class="navbar navbar-default navbar-top" id="bar">
  <div class="container">
          <div class="navbar-header">
            <a href="#items" class="navbar-brand">Logistics</a>

          </div>

          <div class="navbar-collapse collapse" id="navbar-main">

            <form class="navbar-form navbar-left" role="search" ng-submit='searchContent()'>
              <div class="form-group">
                <div class="input-group">
                   <input type="text" class="form-control" id="search-bar" placeholder="Search for product" ng-model="searchText" size="60">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" value="Submit">Go!</button>
                  </span>
                </div><!-- /input-group -->
              </div>
            </form>
            <ul class="nav navbar-nav">
              <li class="dropdown" id="scan">
                <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="javascript:;" id="themes">Scan <span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="themes">
                  <li><a href="#/qr">QR</a></li>
                  <li><a href="">Bar code</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="javascript:;" target="_blank">Profile</a></li>
              <li><a href="javascript:;" target="_blank">Logout</a></li>
            </ul>

        </div>
  </div>
</nav>
