input, select {
  background-color: rgba(255, 255, 255, 0.2)!important;
  /* color:#fff!important; */
}

#login{
    padding: 0 !important;
    font-size: 19px;
}

.login-fields{
    padding: 0 !important;
    font-size: 22px;
    padding-left: 10px !important;
}

#logo{
    width: 300px;
    display: table;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
}

#scan{
    min-width: 160px;
}

#search-bar{
    border: 0px;

}

#bar{
     border-radius: 0px !important;
}

#img_product{

    max-width: 300px;
/*float: left;
    margin:10%;*/
}

.caption{
    float: left;
    /*margin-right: 20%;*/
}

.thumbnail{
    display: table !important;
    width: 100% !important;
}

#itemsPage{
    margin-top: 1%;
}

#scan-caption{
    float: right;
    margin-right: 0%;
}

#scanned-QR{
    margin-bottom: 10%;
}

.location{
    width: 30% !important;
    margin-bottom: 5px !important;
}

#welcome{
    border-left:3px solid #18BC9C !important;
    margin: 10px !important;
    padding: 15px;
}

#add{
    width: 50%;
margin-left: 20% !important;
}

#add-input{
    width: 15%;
float: left;
    text-align: center;
}
